.accordian {
  font-size: 0.9rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(219, 219, 219);
    padding: 1rem;
    cursor: pointer;
  }

  &__content {
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 0 1rem 1rem;
    text-transform: capitalize;

    & > * {
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
