.app {
  background-color: #f1f3f6;
  min-height: 100vh;

  &__content {
    display: flex;
    padding: 0.8rem 0.8rem 0;
    gap: 0.8rem;
    
  }

  &__data {
    background: white;
    width: 100%;
    padding: 1rem 0.8rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
