.app {
  background: rgb(233, 233, 233);
  min-height: 100vh;

  &__content {
    display: flex;
    padding: 0.8rem 0.8rem 0;
    gap: 0.8rem;
  }

  &__data {
    background: white;
    width: 100%;
    padding: 1rem 0.8rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }
}
